.app
    margin: 40px
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    min-height: 100vh
    font-family: Noto Sans CJK TC, PingFang TC, Microsoft JhengHei, helvetica, Arial
    color: #222222
    h1
      font-size: 40px
      letter-spacing: 1px
      margin-bottom: 0
      margin-top: 20px
      font-weight: 900
    .container
      width: 100%
      display: flex
      justify-content: center
      align-items: center
      margin: 40px 
      position: relative
      
    .refresh
      position: absolute
      right: -24px
      top: -6px
      width: 50px
      height: 50px
      display: flex
      justify-content: center
      align-items: center
      border-radius: 25px
      background: white
      border: 1px solid #bfbfbf
      z-index: 100
      cursor: pointer
      &>img
        width: 30px
        transition: 0.3s ease all
      &:hover
        &>img
          transform: rotate(-45deg)
          transition: 0.3s ease all
    .loading-container
      overflow: hidden
      height: 300px
      width: 100%
      display: flex
      justify-content: center
      align-items: center
      width: 500px
      border-radius: 40px
      border: 1px solid #bfbfbf
    .image-container
      position: relative
      max-width: 500px
      height: 100%
      display: flex
      justify-content: center
      align-items: center
      flex-direction: column
      .name,.comment
        border: 1px solid #bfbfbf
        border-radius: 30px
        background: white
        position: relative
        padding: 10px 15px
        max-width: 200px
        word-break: break-all
      .name
        margin-bottom: -25px
      .comment
        margin-top: -25px
      .image
        display: flex
        justify-content: center
        align-items: center
        min-height: 150px
        min-width: 150px
        height: 100%
        overflow: hidden
        border-radius: 20px
        border: 1px solid #bfbfbf
        img
          width: 100%


    .contribute
      border-top: 1px solid #bfbfbf
      border-bottom: 1px solid #bfbfbf
      display: flex
      justify-content: center
      align-items: center
      flex-direction: column
      padding: 30px 30px 20px
      margin: 0 0 30px
      input
        display: none
      button
        cursor: pointer
        margin: 10px 0 0
        appearance: none
        padding: 10px 25px
        border: 1px solid #999999 
        border-radius: 8px
        &:hover
          background: #dddddd
      .thanks
        margin-top: 10px
        font-size: 14px
        color: #999999
    footer
      margin: 50px 0
      text-align: center
      color: #999999
      font-size: 12px
@media (max-width: 768px)
  .app
    h1
      font-size: 25px
    .container
      margin: 15px 0 30px
      &.load
        min-height: 200px
        .image
          min-height: 200px
    .contribute
      padding: 30px 0
body
  margin: 0